.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 1em;
}


.card-content{
    padding:2em 15px 5px;
}

.card-title{
    margin-bottom: 1em;
}

/* .card-paper{
    transition : transform .3s;
    cursor : pointer;

    
}

.card-paper:hover{
    box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.2),0px 6px 10px 0px rgba(0,0,0,0.14),0px 1px 18px 0px rgba(0,0,0,0.12);
    transform: scale(1.1);
  }
 */
@media (max-width: 579px) {
    .card-paper {
        min-width: 249px;
        max-width: 250px;
        height: 400px;
        justify-self: center;
    }
}